<h2 class="content-block">Alta Titular</h2>
<div class="content-block">
    <div class="dx-card responsive-paddings">
        <dx-form id="formTitular" [(formData)]="titular" labelLocation="top" minColWidth="200" width="100%">

            <dxi-item itemType="group" colCount="2">
                <dxi-item itemType="group" colSpan="1">
                    <dxi-item dataField="nombre" readOnly="false">
                        <dxo-label text="Nombre"></dxo-label>
                        <dxi-validation-rule type="required" message="El campo nombre es obligatorio.">
                        </dxi-validation-rule>
                    </dxi-item>
                </dxi-item>

                <dxi-item itemType="group" colSpan="1">
                    <dxi-item dataField="apellido" readOnly="false">
                        <dxo-label text="Apellido"></dxo-label>
                        <dxi-validation-rule type="required" message="El campo apellido es obligatorio.">
                        </dxi-validation-rule>
                    </dxi-item>
                </dxi-item>

            </dxi-item>

            <dxi-item itemType="group" colCount="2">
                <dxi-item itemType="group" colCount="1">
                    <dxi-item dataField="fechaNacimiento" editorType="dxDateBox"
                        [editorOptions]="{ useMaskBehavior:true, width:'100%', showClearButton:'true', displayFormat:'dd/MM/yyyy', dateSerializationFormat: 'yyyy/MM/dd' }">
                        <dxo-label text="Fecha Nacimiento"></dxo-label>
                        <dxi-validation-rule type="required" message="La fecha de nacimiento es obligatoria.">
                        </dxi-validation-rule>
                    </dxi-item>
                </dxi-item>
                <dxi-item itemType="group" colSpan="1">
                    <dxi-item dataField="dni" readOnly="false">
                        <dxo-label text="Dni"></dxo-label>
                        <dxi-validation-rule type="required" message="El campo dni es obligatorio.">
                        </dxi-validation-rule>
                    </dxi-item>
                </dxi-item>
            </dxi-item>

            <dxi-item itemType="group" colSpan="2">
                <dxi-item dataField="direccion" readOnly="false">
                    <dxo-label text="Direccion"></dxo-label>
                    <dxi-validation-rule type="required" message="El campo direccion es obligatorio.">
                    </dxi-validation-rule>
                </dxi-item>
            </dxi-item>

            <dxi-item itemType="group" colCount="2">
                <dxi-item itemType="group" colSpan="1">
                    <dxi-item dataField="factorRh" readOnly="false">
                        <dxo-label text="Factor RH"></dxo-label>
                        <dxi-validation-rule type="required" message="El campo factor rh es obligatorio.">
                        </dxi-validation-rule>
                    </dxi-item>
                </dxi-item>

                <dxi-item itemType="group" colCount="1">
                    <dxi-item dataField="donante" editorType="dxCheckBox" [editorOptions]="{ value: titular?.donante}">
                        <dxo-label text="Donante"></dxo-label>
                    </dxi-item>
                </dxi-item>
            </dxi-item>

        </dx-form>
        <div style="text-align:right">
            <dx-button class="button-popup white-text green-button" style="margin-left:5px" text="Guardar"
                type="success" alignment="right" (onClick)="guardarTitular()" icon="save">
            </dx-button>
        </div>
    </div>
</div>